<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ElliApiConfig" type="Elli.Api.Base.ApiConfiguration, Elli.Api.Base"/>
  </configSections>

  <ElliApiConfig apiHost="https://api.elliemae.com" 
		apiClientId="_your_oauth_clientid" 
		clientSecret="_your_oauth_secret" 
        idpHost="idp.elliemae.com" redirectUrl=""/>

  <appSettings>
    <add key="InstanceID" value="_your_instance_id" />
    <add key="UserID" value="_your_user_id" />
    <add key="Password" value="_your_password" />
  </appSettings>
  
</configuration>