<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="InstanceID" value="_your_instance_id" />
    <add key="UserID" value="_your_user_id" />
    <add key="Password" value="_your_password" />
    <add key="OAuthClientID" value="_your_oauth_clientid" />
    <add key="OAuthSecret" value="_your_oauth_secret" />
  </appSettings>

</configuration>
