<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>

  <appSettings>
    <add key="InstanceID" value="_your_instance_id" />
    <add key="UserID" value="_your_user_id" />
    <add key="Password" value="_your_password" />
  </appSettings>

</configuration>